.App {
  margin:40px;
}

.editor {
  background-color: white;
  padding: 10px;
}
body {
  background-color: lightgray;
}

.suggestions {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  width: 400px;
  position: absolute;
}

.option {
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.option-selected {
  background-color: rgba(20, 180, 236, 0.7);
}
